<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

<bean id="emp" class="com.bridgelabz.beans.Employee">
<property name="empId" value="101"></property>
<property name="empName" value="Laxman Bhosale"></property>
<property name="empAddress" value="Hingoli"></property>
<property name="hobbies" value=" Reading , Playing Cricket , Watching Movie , Swimming">

</property>
</bean>
</beans>
